[submodule "thirdparty/lietorch"]
	path = thirdparty/lietorch
	url = git@github.com:princeton-vl/lietorch.git #https://github.com/princeton-vl/lietorch.git
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
